In [1]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /home/mohammed-amin/ML/env/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in /home/mohammed-amin/ML/env/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mohammed-amin/ML/env/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/mohammed-amin/ML/env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
dframe = pd.DataFrame(np.random.randint(1, 30, size=(6,4)), columns = ['a', 'b', 'c', 'f'])
print(dframe)

print(dframe.set_index('a', inplace=True))
print(dframe)
dframe.dropna()
dframe.columns = ['A', 'B', 'C']
dframe['A' ] = dframe['A'].astype(float)
print(dframe)
dframe.sort_values()

    a   b   c   f
0  25  18  21  24
1  23   7  11   5
2  24  26   4  13
3  29  23   7  20
4  18   4  21  21
5  16  13   7  10
None
     b   c   f
a
25  18  21  24
23   7  11   5
24  26   4  13
29  23   7  20
18   4  21  21
16  13   7  10
       A   B   C
a
25  18.0  21  24
23   7.0  11   5
24  26.0   4  13
29  23.0   7  20
18   4.0  21  21
16  13.0   7  10

pd.Dataframe()

In [ ]:
df = pd.DataFrame(np.random.randint(1,10, size=(3,3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print(df)
# df.loc['Y', 'B']
# df.at['Y', 'B']

   A  B  C
X  5  4  8
Y  4  6  3
Z  2  1  8

np.int64(6)

In [23]:

df = pd.DataFrame(np.random.randint(1, 15, size=(5, 3)))
print(df[1])
df[3] = df[0]*df[1]
df

0     6
1     5
2     8
3    14
4     3
Name: 1, dtype: int64

    0   1   2    3
0  11   6  13   66
1   3   5   9   15
2   2   8  12   16
3  13  14   8  182
4  10   3   8   30

In [30]:
df = pd.DataFrame(np.random.randint(1, 14, size = (4, 3)))
print(df)
r_sum = df.sum(axis=1)
print("rowz-sum \n", r_sum)
c_sum = df.sum(axis=0)
print("column-sum \n", c_sum)

    0   1  2
0   7   2  9
1   9  11  1
2  13  11  5
3   2  10  5
rowz-sum
 0    18
1    21
2    29
3    17
dtype: int64
column-sum
 0    31
1    34
2    20
dtype: int64

In [49]:
df = pd.DataFrame(np.random.randint(1, 15, size= (5, 3)))
df.at[0, 1] = np.nan
df.at[1,2] = np.nan
print(df)
df[1] = df[1].fillna(df.mean(axis=0)[1])
print(df)
df[2] = df[2].fillna(df[2].mean())
print(df)

    0    1    2
0   6  NaN  9.0
1  11  7.0  NaN
2   3  5.0  5.0
3   2  9.0  4.0
4  10  8.0  5.0
    0     1    2
0   6  7.25  9.0
1  11  7.00  NaN
2   3  5.00  5.0
3   2  9.00  4.0
4  10  8.00  5.0
    0     1     2
0   6  7.25  9.00
1  11  7.00  5.75
2   3  5.00  5.00
3   2  9.00  4.00
4  10  8.00  5.00

In [50]:
df = pd.DataFrame(np.random.randint(1, 15, size= (6, 4)))
df.at[0, 1] = np.nan
df.at[1,2] = np.nan
df.at[1, 1] = np.nan
df.at[2,2] = np.nan
print(df)
df.dropna(inplace=True)
print(df)

    0     1     2   3
0  12   NaN   9.0  13
1  14   NaN   NaN  14
2  12  14.0   NaN  11
3  11  11.0   9.0   1
4   5  11.0   8.0  13
5  11   6.0  14.0   8
    0     1     2   3
3  11  11.0   9.0   1
4   5  11.0   8.0  13
5  11   6.0  14.0   8

In [53]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)
df.mean(axis=1)

Original DataFrame:
    A   B   C
0  89  74  23
1  64  16  27
2  39  43  96
3  54  22  19
4  28  79  83
DataFrame with NaN values:
      A     B     C
0  89.0   NaN  23.0
1  64.0  16.0  27.0
2  39.0  43.0   NaN
3  54.0  22.0  19.0
4   NaN  79.0  83.0
DataFrame with NaN values filled:
      A     B     C
0  89.0  40.0  23.0
1  64.0  16.0  27.0
2  39.0  43.0  38.0
3  54.0  22.0  19.0
4  61.5  79.0  83.0

0    50.666667
1    35.666667
2    40.000000
3    31.666667
4    74.500000
dtype: float64

In [76]:
data = {'Category': ['A', 'B', 'C', 'B', 'A'], 
        'Values': [10, 20, 30, 12, 124]}
dat = {
    'Category':np.random.choice( ['A', 'B', 'C'], size=10),
    'Values':np.random.randint(20, 345, size=10)
}
print(dat)
df = pd.DataFrame(dat)
print(df)
cat_mean = df.groupby('Category')['Values'].agg(["sum", "mean"])
print("adsf",cat_mean)
# cat_sum = df.groupby('Category')['Values'].sum()
# print(cat_mean)
# print(cat_sum)

{'Category': array(['B', 'B', 'B', 'A', 'C', 'C', 'B', 'C', 'B', 'A'], dtype='<U1'), 'Values': array([296, 185, 137, 268, 322, 306, 113,  37, 237, 104])}
  Category  Values
0        B     296
1        B     185
2        B     137
3        A     268
4        C     322
5        C     306
6        B     113
7        C      37
8        B     237
9        A     104
adsf           sum        mean
Category
A         372  186.000000
B         968  193.600000
C         665  221.666667

In [74]:
dat = {
    'Category':np.random.choice( ['A', 'B', 'C'], size=10),
    'Product': np.random.choice( ['P1', 'P2', 'P3'], size=10),
    'Sales':np.random.randint(20, 345, size=10)
}
df = pd.DataFrame(dat)
s = df.groupby('Category')['Sales'].sum()
print(s)

Category
A    455
B    687
C    463
Name: Sales, dtype: int64

In [86]:
dat = {
    'Category':np.random.choice( ['A', 'B', 'C', 'D'], size=10),
    'Product': np.random.choice( ['P1', 'P2', 'P3'], size=10),
    'Sales':np.random.randint(20, 345, size=10)
}
data = {'Category': ['A', 'B', 'C', 'B', 'A'], 
        'Values': [10, 20, 30, 12, 124]
    }

df1 = pd.DataFrame(dat)
df2 = pd.DataFrame(data)
print(df1)
print(df2)
merged = pd.merge(df1, df2, on= 'Category', how='left')
merged

  Category Product  Sales
0        C      P2    165
1        D      P1    184
2        B      P2    252
3        C      P1    217
4        D      P1    251
5        B      P3    327
6        A      P1    125
7        B      P1    172
8        D      P1     73
9        A      P2    327
  Category  Values
0        A      10
1        B      20
2        C      30
3        B      12
4        A     124

   Category Product  Sales  Values
0         C      P2    165    30.0
1         D      P1    184     NaN
2         B      P2    252    20.0
3         B      P2    252    12.0
4         C      P1    217    30.0
5         D      P1    251     NaN
6         B      P3    327    20.0
7         B      P3    327    12.0
8         A      P1    125    10.0
9         A      P1    125   124.0
10        B      P1    172    20.0
11        B      P1    172    12.0
12        D      P1     73     NaN
13        A      P2    327    10.0
14        A      P2    327   124.0

In [91]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key', how='outer')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      99
1   B      48
2   C      68
3   D      70
DataFrame 2:
  Key  Value2
0   A      13
1   B       7
2   C      12
3   E      76
Merged DataFrame:
  Key  Value1  Value2
0   A    99.0    13.0
1   B    48.0     7.0
2   C    68.0    12.0
3   D    70.0     NaN
4   E     NaN    76.0

In [102]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

asdf = pd.concat([df1, df2], axis= 1,join='inner')
print(asdf)

DataFrame 1:
  Key  Value1
0   A      41
1   B      77
2   C      11
3   D      83
DataFrame 2:
  Key  Value2
0   A      62
1   B      40
2   C      77
3   E      16
  Key  Value1 Key  Value2
0   A      41   A      62
1   B      77   B      40
2   C      11   C      77
3   D      83   E      16

In [ ]:
import numpy as np
import pandas as pd

range = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
# print(range)    
df = pd.DataFrame(range, columns=['Date'])
# print(df)
df['r'] = np.random.randint(1, 100, size=len(df))
# print(df)
df.set_index('Date', inplace=True)
print(df.resample('ME').mean())
# print(df)

ValueError: Invalid frequency: M. Failed to parse with error message: ValueError("'M' is no longer supported for offsets. Please use 'ME' instead.")

In [ ]:
# date_dict = {
#     "dates": pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
#     "data": np.random.randint()
# }
dates = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
data = {
    'Date': dates,
    'Data': np.random.randint(1, 100, size=len(dates))
}
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)
print(df.rolling(window=7).mean())

            Data
Date
2021-01-01   NaN
2021-01-02  55.5
2021-01-03  36.0
2021-01-04  68.0
2021-01-05  48.0
...          ...
2021-12-27  58.0
2021-12-28  29.0
2021-12-29  15.0
2021-12-30  46.0
2021-12-31  57.0

[365 rows x 1 columns]

In [18]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    90
2021-01-02    71
2021-01-03    75
2021-01-04     1
2021-01-05    90
...          ...
2021-12-27     0
2021-12-28     3
2021-12-29    17
2021-12-30    77
2021-12-31    30

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  48.428571
2021-12-28  44.428571
2021-12-29  37.428571
2021-12-30  41.000000
2021-12-31  34.285714

[365 rows x 1 columns]

In [45]:
data = [
    ["USA", "USA", "CAN", "CAN", "AUS"],
    ["NYC", "Toronto", "vancover", "ASC", "sydney"]
]
index = pd.MultiIndex.from_arrays(data, names=('country', "city"))

df = pd.DataFrame({'population':[10, 20, 30, 20, 11]}, index=index)
print(df)
df.loc[('USA', )]
df.xs('Toronto', level='city')

                  population
country city
USA     NYC               10
        Toronto           20
CAN     vancover          30
        ASC               20
AUS     sydney            11

/tmp/ipykernel_24772/388855444.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[('USA', )]

         population
country
USA              20

In [50]:
data = [
    ["USA", "USA", "CAN", "CAN", "AUS", "USA"],
    ["NYC", "Toronto", "vancover", "ASC", "sydney", "NYC"]
]
index = pd.MultiIndex.from_arrays(data, names=('category', "subCategory"))

df = pd.DataFrame({'population':[10, 20, 30, 20, 11, 15]}, index=index)
print(df)
print(df.groupby(level='category').sum())
print(df.groupby(['category', 'subCategory']).sum())

                      population
category subCategory
USA      NYC                  10
         Toronto              20
CAN      vancover             30
         ASC                  20
AUS      sydney               11
USA      NYC                  15
          population
category
AUS               11
CAN               50
USA               45
                      population
category subCategory
AUS      sydney               11
CAN      ASC                  20
         vancover             30
USA      NYC                  25
         Toronto              20